*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

body {
  margin: 0;
  background-color: #333;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
main {
  padding: 0 1.3em;
  text-align: center;
}
h1,
h2,
p,
a {
  margin: 0;
}
h1,
h2, .creations__card p {
  max-width: 15ch;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  
}
img {
  max-width: 100%;
}

/* HEADER STYLES*/

header {
  position: relative;
  height: 100vh;
}
.hero__img {
  position: absolute;
  z-index: -1;
}
.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo,
.header__hamburger-nav {
  margin: 2em 1.5em;
  cursor: pointer;
}
.nav {
  display: none; /* mobile nav*/
}
.header__title {
  margin: 35vw 0.7em;
  padding: 0.8em;
  line-height: 1.2;
  font-size: 2.3rem;
  color: var(--White);
  border: 1px solid var(--White);
}
/* main styles - interactive */
.interactive{
  margin-bottom: 5em;
}
.interactive__img {
  margin: min(1em) auto 3em;
}
.interactive__title{
  margin-bottom: 1em;
}
.interactive__paragraph{
  max-width: 30ch;
  margin-right: auto;
  margin-left: auto;
  color: var(--Dark-Gray);
}
/* main styles - creations*/
.creations__title{
  margin-bottom: 2em;
}
.creations__see-all--top{
  display: none;
}






/* footer*/
footer{
  background-color: var(--Black);
}



/* diverse immagine a seconda del dispositivo*/
